<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hello EveryOne</title>
    </head>
    <body>
            <h2>欢迎来到Alex查询标题、关键词、描述</h2>
            <h2>使用说明：</h2>
            <h3>在浏览器中输入：http://IP:端口/q?name=你要查询的关键词</h3>
            <h3>如果返回，已经在后台查询了，那么就已经可以了。</h3>
            <h3>后台大概要查询45分钟左右，但是可以输入不同的关键词，后台会自动按顺序去查询。</h3>
            <h3>一段时间以后... ... ... ... ... ...再次输入你查询的的链接（一模一样的）</h3>
            <h3>在浏览器中输入：http://IP:端口/q?name=你要查询的关键词</h3>
            <h3>你就可以获得返回的结果</h3>
            <h2>如果距离上次查询这个关键词已经很久了，或者你对这个结果不满意。</h2>
            <h3>在浏览器中输入：http://IP:端口/q?name=你对结果不满意的关键词&c=1</h3>
            <h2>它会重新查询，并覆盖之前的结果，后续步骤，和上面所述一致。</h2>
    </body>
</html>
