<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>收件人信息提交页面</h2>
<h2>格式：</h2>
<h3>1257352qq.com;asjfal@163.com;afksjd@gmail.com</h3>
<h2>说明：</h2>
<p style="color:red">即所有收件人邮箱用分号隔开,最后一个不要分号</p>
<form method="post">
    <textarea  rows="10" style="width:600px;height:380px" name="rev_list" id="rev_list"></textarea>
    <input type="submit" name="submit" style="width:670px" value="提交">
</form>
    </body>
</html>
