<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
<h2>发件人信息提交页面</h2>
<h2>格式：</h2>
<h3>1257352qq.com----135654654;asjfal@163.com----5464687987;afksjd@gmail.com----654648731</h3>
<h2>说明：</h2>
<p style="color:red">邮箱----密码;邮箱----密码;邮箱----密码;邮箱----密码;邮箱----密码;邮箱----密码;</p>
<form method="post">
    <textarea  rows="10" style="width:600px;height:380px" name="sender_text" id="sender_text"></textarea>
    <input type="submit" name="submit" style="width:670px" value="提交">
</form>
    </body>
</html>
