<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hello ErveryOne</title>
    </head>
    <body>
        {% for con in context %}
        <ul>
            <li>标题（title）：{{ con.title }}</li>
            <li>关键词：（keywords）{{ con.keywords }}</li>
            <li>描述（description）：{{ con.description }}</li>
            <!--
                <div style="height:5px; width:100%; background-color: black; color:black"></div>
            -->
            <hr>
        </ul


        {% endfor %}
    </body>
</html>
